---
layout: page
# All the Tags of posts.
---

<ul class="taxonomy-index">

  {% assign tags = "" | split: "" %}
  {% for t in site.tags %}
    {% assign tags = tags | push: t[0] %}
  {% endfor %}

  {% assign sorted_tags = tags | sort_natural %}

  {% for t in sorted_tags %}
  <li>
      <a href="{{ t | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        <strong>{{ t }}</strong><span class="taxonomy-count">{{ site.tags[t].size }}</span>
      </a>
    <li>
  {% endfor %}

</ul>

<br>
